.fastsearch-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  background-color: azure;
  border-radius: 5px;
}
